<section class="row mx-3 mb-3 mt-4">
  <h1 class="titulo p-0">Algo mas personal sobre mí</h1>
  <div class="text-start">
    <p class="info-descripcion">
      ¡Hola! Mi nombre es Andrés Mariano Fernández, y esas siglas, <strong>AMF</strong>, representan también mi sello profesional.
    </p>
    <p class="info-descripcion">Soy un apasionado de la tecnología, la música y los viajes. La informática siempre me llamó la atención,
      pero mi camino profesional me llevó por otros rumbos. Sin embargo, hace unos años tomé una decisión de dedicarme
      de lleno a la programación. Fue un gran desafío, porque no solo implicó aprender desde cero y perfeccionarme cada
      día, sino que también tuve que equilibrarlo con mi trabajo para poder seguir adelante. A pesar de las
      dificultades, nunca dudé de mi elección, porque descubrí que programar me apasiona.</p>
    <p class="info-descripcion">Además de la tecnología, la música ha sido una parte fundamental de mi vida. También me encanta practicar deportes, viajar y conocer nuevas culturas, experiencias que me han
      enseñado a adaptarme, ser perseverante y mantener siempre una mentalidad flexible.</p>
    <p class="info-descripcion">Soy perfeccionista y metódico en todo lo que hago. Me gusta resolver problemas, aprender
      cosas nuevas y enfrentar
      desafíos que me ayuden a mejorar. Uno de los retos más grandes de mi vida fue mudarme de Argentina a Valencia,
      España, una experiencia que me exigió salir de mi zona de confort y me fortaleció tanto personal como
      profesionalmente.</p>
    <p class="info-descripcion">Más allá del código, valoro el esfuerzo, el aprendizaje continuo y las buenas relaciones
      humanas. Me considero una
      persona comprometida, con una gran capacidad de adaptación y dispuesto a darlo todo para alcanzar mis objetivos.
      Siempre estoy abierto a nuevos proyectos, colaboraciones y oportunidades que me ayuden a seguir creciendo.</p>
  </div>
</section>