<section class="row m-3" id="herramientas-inicio">
  <h1 class="mb-4">Herramientas</h1>
  <div class="col-md">
    <div class="my-3">
      @for (hta of herramientas; track $index) {
      <a href="#proyectos-inicio" (click)="filtrarProyectos(hta)" class="btn btn-sm btn-success m-2">{{hta}}</a>
      }
    </div>
  </div>
</section>

<section class="row justify-content-center m-3" id="proyectos-inicio">

  <h1 class="my-3"><a routerLink="/proyectos" class="link" title="Ver mas proyectos.">Proyectos</a></h1>

  <div class="col p-0">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center my-3">
      @for (p of proyectos.slice(0,3); track p.id) {
      <div class="col-md-4 p-2">
        <div class="card h-100 border-secondary">
          <img src="{{p.urlImagen}}" class="card-img-top border-bottom border-2 img-proyecto" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{p.nombre}}</h5>
            <p class="card-text text-secondary">{{p.descripcion}}</p>
            @if (p.urlDemo != "") {
            <a href="{{p.urlDemo}}" target="_blank" class="btn btn-success btn-sm m-1 btn-card">Ver demo</a>
            }
            <a href="{{p.urlRepositorio}}" target="_blank" class="btn btn-success btn-sm m-1 btn-card">Repositorio</a>
          </div>
          <div class="card-footer text-truncate">
            <small class="text-body-secondary">{{p.herramientas.join(' | ')}}</small>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>