.link{
  text-decoration: none;
  color: var(--crema-claro)
}

.link:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  color: var(--crema);
}

.div-htas{
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .8rem;
}

.btn-htas{
  background-color: var(--crema);
  color: var(--crema-claro);
  font-weight: 500;
  opacity: .75;
}

.btn-htas:hover{
  opacity: 1;
}

.card{
  opacity: 80%;
  transition: 150ms;
}

.card:hover{
  transition: 150ms;
  scale: 1.02;
  opacity: 1;
}

.btn-card{
  transition: 150ms;
  opacity: 50%;
}

.card:hover .btn-card{
  transition: 150ms;
  opacity: 100%;
}

.card-body{
  background-color: var(--verde-claro-hover);
}

.card-title{
  color: var(--crema);
}

.img-proyecto{
  width: 100%;
  aspect-ratio: 2/1;
}

@media(max-width: 990px){
  .card{
    opacity: 1;
  }

  .btn-card{
    opacity: 1;
  }

  .div-htas{
    justify-content: center;
  }
}